@import '../../variables.scss';

button {
  margin-right: 8px;
}

.toolbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.toolbar-section-1 {
  display: flex;
  align-items: center;
}

.logo-title {
  display: block;
  height: 48px;
}

.sign-in-button {
  color: $accent;
}
