<div class="main-content">
  <strong class="mat-headline headline site-mantra">Take control of the home buying or selling process!</strong>
  <p class="mat-subheading-1 headline site-sub-mantra">Aloha My Home makes the home buying and selling process a breeze.</p>
  <div class="main-info-cards">
    <app-info-card
      *ngFor="let cardInfo of info"
      [info]="cardInfo"
    >
    </app-info-card>
  </div>
  <div class="quick-compare-content">
    <img src="../../../assets/Flower.svg" class="site-flower" height="500" width="500" alt="flower logo">
    <app-quick-compare></app-quick-compare>
  </div>
  <div class="site-links">
    <app-quick-links></app-quick-links>
  </div>
</div>
