.sign-in-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

.sign-in-buttons {
  display: flex;
  justify-content: flex-end;
}

.login-button {
  margin-right: 8px;
}
