<div class="info-card-background" [style.background-image]="'url(' + info.backgroundImagePath + ')'">
  <div [class]="'info-card-content ' + info.borderClass">
    <strong class="mat-title">{{info.header}}</strong>
    <div class="info-content paragraph-text">
      <p
        *ngFor="let paragraph of info.content"
      >
        {{paragraph}}
      </p>
    </div>
    <a
      mat-button
      color="accent"
      routerLink="{{info.link.linkHref}}"
      *ngIf="info.link"
    >
      <b>{{info.link.linkText}}</b>
    </a>
  </div>
</div>
