@import '../../../variables.scss';

$compare-red: #B10000;

.quick-compare {
  position: relative;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.compare-card {
  width: 300px;
  min-height: 460px;
  margin: 32px;
  border-radius: 16px;
  background-color: white;
  padding: 24px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-style: solid;
  border-top-width: 16px;
}

.agent-compare {
  border-top-color: $compare-red;
}

.amh-compare {
  border-top-color: $primary;
}

.compare-title {
  display: flex;
  align-items: center;
  margin: 0 0 56px 0;
}

.compare-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.compare-item {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.compare-mark {
  margin-right: 16px;
}

.compare-emphasis-text {
  text-transform: uppercase;
  font-weight: bolder;
}

.bad-text {
  color: $compare-red;
}

mat-divider {
  height: 20px;
}

.mat-subheading-2 {
  margin: 0;
}

@media only screen and (max-width: 800px) {
  .media-hide {
    display: none;
  }
}
