<div class="quick-compare">
  <div class="compare-card agent-compare mat-elevation-z2">
    <div class="compare-title">
        <span class="heading-2b mat-title media-hide">Using</span>&nbsp;&nbsp;
        <span class="mat-title">
          <mat-divider [vertical]="true" class="media-hide"></mat-divider>
        </span>&nbsp;&nbsp;
        <span class="mat-title">Individual Agent</span>
    </div>
    <div class="compare-text">
      <div class="compare-item">
        <img src="assets/X.svg" alt="negative mark" class="compare-mark" height="24" width="24">
        <div class="mat-body-1">
          Commission&nbsp;
          <span class="compare-emphasis-text bad-text">cuts</span>
          &nbsp;seller profits
        </div>
      </div>
      <div class="compare-item">
        <img src="assets/X.svg" alt="negative mark" class="compare-mark" height="24" width="24">
        <div class="mat-body-1">
          Commission&nbsp;
          <span class="compare-emphasis-text bad-text">inflates</span>
          &nbsp;buyers home price
        </div>
      </div>
      <div class="compare-item">
        <img src="assets/X.svg" alt="negative mark" class="compare-mark" height="24" width="24">
        <div class="mat-body-1">
          <span class="compare-emphasis-text bad-text">Rely</span>
          &nbsp;only on Agent to track your progress and provide reminders
        </div>
      </div>
      <div class="compare-item">
        <img src="assets/X.svg" alt="negative mark" class="compare-mark" height="24" width="24">
        <div class="mat-body-1">
          <span class="compare-emphasis-text bad-text">Wait</span>
          on Agent to give you next steps
        </div>
      </div>
      <div class="compare-item">
        <img src="assets/X.svg" alt="negative mark" class="compare-mark" height="24" width="24">
        <div class="mat-body-1">
          <span class="compare-emphasis-text bad-text">Depend</span>
          soley on agents knowledge - you are in the dark
        </div>
      </div>
    </div>
  </div>
  <div class="compare-card amh-compare mat-elevation-z2">
    <div class="compare-title">
      <span class="heading-2b mat-title media-hide">Using</span>&nbsp;&nbsp;
      <span class="mat-title">
        <mat-divider [vertical]="true" class="media-hide"></mat-divider>
      </span>&nbsp;&nbsp;
      <span class="mat-headline" [style.margin-bottom]="'8px'">
        <img src="assets/AMH_Black.svg" height="32" width="174" alt="aloha my home logo">
      </span>
    </div>
    <div class="compare-text">
      <div class="compare-item">
        <img src="assets/CheckMark.svg" alt="positive mark" class="compare-mark" height="24" width="24">
        <div class="mat-body-1">
          <span class="compare-emphasis-text">Saves</span>
          you money by not paying agent commissions
        </div>
      </div>
      <div class="compare-item">
        <img src="assets/CheckMark.svg" alt="positive mark" class="compare-mark" height="24" width="24">
        <div class="mat-body-1">
          <span class="compare-emphasis-text">Tracks</span>
          your home selling or buying progress real time
        </div>
      </div>
      <div class="compare-item">
        <img src="assets/CheckMark.svg" alt="positive mark" class="compare-mark" height="24" width="24">
        <div class="mat-body-1">
          <span class="compare-emphasis-text">Automates</span>
          you tasks and deadline notifications to ensure it is done on time
        </div>
      </div>
      <div class="compare-item">
        <img src="assets/CheckMark.svg" alt="positive mark" class="compare-mark" height="24" width="24">
        <div class="mat-body-1">
          <div class="compare-emphasis-text">Have Questions?</div>
          Aloha, My Home has the answers!
          We've done the research for you!
        </div>
      </div>
    </div>
    <a
      mat-button
      mat-flat-button
      color="accent"
      routerLink="/compare"
    >
      DETAILED COMPARISON
    </a>
  </div>
</div>
