<div class="content">
  <app-toolbar
    [navButtons]="navButtons"
    [(activeNavButton)]="activeNavButton"
    [onNavButtonClick]="onNavButtonClick"
    (toggleSidenav)="sidenav.toggle()"
  >
  </app-toolbar>
  <mat-sidenav-container>
    <mat-sidenav
      #sidenav
      mode="over"
    >
      <mat-nav-list>
        <a
          mat-list-item
          routerLink=""
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          [style.font-size]="'18px'"
        >
          Home
        </a>
        <a
          mat-list-item
          routerLink="{{navItem.linkHref}}"
          routerLinkActive="active-link"
          *ngFor="let navItem of navButtons"
          [style.font-size]="'18px'"
        >
          {{navItem.buttonText}}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>
