@import '../variables.scss';

@media only screen and (min-width: 500px) {
  .hide-gt-500.mat-list-item {
    display: none;
  }
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  background-color: mat-color($mat-grey, 50);
}
mat-sidenav-container {
  display: flex;
  flex: 1;
}
mat-sidenav {
  width: 200px;
}
mat-sidenav-content {
  width: 100%;
}
main {
  height: 100%;
}
.active-link {
  color: $primary !important;
}
