@import '../custom-theme.scss';

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}
mat-sidenav-container {
  display: flex;
  flex: 1;
}
mat-sidenav {
  width: 200px;
}
mat-sidenav-content {
  width: 100%;
}
.active-link {
  color: mat-color($alohamyhome-accent) !important;
}

