<mat-toolbar color="primary" class="toolbar">
  <span class="toolbar-section-1">
    <button
      mat-button
      mat-icon-button
      class="hide-gt-1080"
      (click)="toggleSidenav.emit()"
      aria-label="menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/AMH_White.svg" alt="Aloha My Home" class="logo-title" height="48" width="260"/>
  </span>
  <div class="hide-lt-1080">
    <button
      mat-button
      *ngFor="let navButton of navButtons; index as i"
      [color]="(activeNavButton === i) && 'accent' "
      (click)="onNavButtonClick(i)"
      [matMenuTriggerFor]="toolbarMenu"
      [class]="navButton.class"
    >
      {{navButton.buttonText}}
      <mat-icon *ngIf="activeNavButton === i">keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="activeNavButton !== i">keyboard_arrow_down</mat-icon>
    </button>
  </div>
  <div>
    <button
      mat-button
      mat-icon-button
      aria-label="mortgage calculator"
      matTooltip="Mortgage Calculator"
      class="hide-lt-500"
    >
      <mat-icon>calculate</mat-icon>
    </button>
    <a
      *ngIf="this.authService.authEnabled"
      mat-flat-button
      class="sign-in-button hide-lt-500"
      routerLink="/signin"
    >
      Sign In
    </a>
  </div>
</mat-toolbar>
<mat-menu
  #toolbarMenu="matMenu"
  (closed)="onCenterButtonMenuClose()"
>
 <app-center-button-dropdown></app-center-button-dropdown>
</mat-menu>
