@import "../../../../variables";

.info-card-background {
  margin: 16px;
  padding: 104px 48px 340px 48px;
  border-radius: 12px;
}
.info-card-content {
  background-color: white;
  opacity: 0.82;
  border-radius: 12px;
  border-width: 6px;
  border-style: solid;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 272px;
  max-width: 240px;
}
.info-content {
  flex-grow: 1;
}
