@import '~@angular/material/theming';
@import 'variables.scss';
@include mat-core();

$custom-typography: mat-typography-config(
  $headline: mat-typography-level(36px, 48px, 800, 'Avenir Next Condensed'),
  $subheading-2: mat-typography-level(28px, 36px, 800, 'Avenir Next Condensed'),
  $subheading-1: mat-typography-level(24px, 30px, 400, 'Avenir Next Condensed'),
  $title: mat-typography-level(26px, 32px, 800, 'Avenir Next Condensed')
);

@include angular-material-typography($custom-typography);

$alohamyhome-theme: mat-light-theme((
  color: (
    primary: $alohamyhome-primary,
    accent: $alohamyhome-accent,
    warn: $alohamyhome-warn,
  )
));

@include angular-material-theme($alohamyhome-theme);
