@import '~@angular/material/theming';
@import 'variables.scss';
@include mat-core();

$alohamyhome-theme: mat-light-theme((
  color: (
    primary: $alohamyhome-primary,
    accent: $alohamyhome-accent,
    warn: $alohamyhome-warn,
  )
));

@include angular-material-theme($alohamyhome-theme);
