<div class="main-content">
  <strong class="mat-headline site-mantra headline">Take control of the home buying or selling process!</strong>
  <p class="mat-subheading-2 headline">Aloha My Home makes the home buying and selling process a breeze.</p>
  <div class="main-info-cards">
    <app-info-card
      *ngFor="let cardInfo of info"
      [info]="cardInfo"
    >
    </app-info-card>
  </div>
  <div class="main-quick-compare-content">
    <div class="quick-compare">
      TODO Quick Compare Cards
      <a
        mat-button
        color="primary"
      >
        DETAILED COMPARISON
      </a>
    </div>
  </div>
  <div class="site-links">
    TODO Bottom Info
  </div>
</div>
